<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")*@
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link rel="shortcut icon" href="img/favicon.png">

    <title>City of Windsor API</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/jquery.easy-pie-chart.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/widgets.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style-responsive.css" rel="stylesheet" />
    <link href="~/Content/xcharts.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-1.10.4.min.css" rel="stylesheet" />

    <style>
        /* Always set the map height explicitly to define the size of the div
           * element that contains the map. */
        #mapBody {
            height: 50%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <!-- container section start -->
    <section id="" class="">
        <!--header start-->

        <header class="header dark-bg">

            <!--logo start-->
            <a href="~/Home/Index" class="logo">CITY OF <span class="lite">WINDSOR</span></a>
            <!--logo end-->

            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                <ul class="nav top-menu">
                    @*<li>
                        <form class="navbar-form">
                            <input class="form-control" placeholder="Search" type="text">
                        </form>
                    </li>*@
                </ul>
                <!--  search form end -->
            </div>

            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">

                    <!-- user login dropdown start-->
                    @*<li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="img/avatar1_small.jpg">
                            </span>
                            <span class="username">Jenifer Smith</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li class="eborder-top">
                                <a href="#"><i class="icon_profile"></i> My Profile</a>
                            </li>
                            <li>
                                <a href="login.html"><i class="icon_key_alt"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>*@
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
        </header>
        <!--header end-->
        
        <div class="text-right">
            <div class="credits">
                <a href="">CITY OF WINDSOR API</a> by <a href="">Game of Code</a>&nbsp;&nbsp;
            </div>
        </div>
    </section>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/js/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/js/jquery.scrollTo.min.js"></script>
    <script src="~/Scripts/js/jquery.scrollTo.min.js"></script>
    <script src="~/Scripts/js/jquery.nicescroll.js"></script>
    <script src="~/Scripts/js/scripts.js"></script>
    <script src="~/Scripts/js/jquery-ui-1.10.4.min.js"></script>

</body>
</html>
